<div class="row bg1">
  <p>{{name}}</p>
</div>
<div class="row bg2">
  <div class="col-6">
    <p>Título del estreno 1</p>
    <img src="../../../../assets/img/rectanguloEjemplo.jpg" height="110px" width="160px">
  </div>
  <div class="col-6">
    <p>Título del estreno 2</p>
    <img src="../../../../assets/img/rectanguloEjemplo.jpg" height="110px" width="160px">
  </div>
  <div class="col-6 mt-1 mb-2">
    <p>Título del estreno 3</p>
    <img src="../../../../assets/img/rectanguloEjemplo.jpg" height="110px" width="160px">
  </div>
  <div class="col-6 mt-1 mb-2">
    <p>Título del estreno 4</p>
    <img src="../../../../assets/img/rectanguloEjemplo.jpg" height="110px" width="160px">
  </div>
</div>
