<div class="row bg1">
  <p>Lo más criticado</p>
</div>
<div class="row pt-2 pb-2 bg2 borderBlack">
  <div class="col-4">
    <img src="../../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
  </div>
  <div class="col-4">
    <p>Título del elemento 1</p>
  </div>
  <div class="col-4">
    <p>Nota</p>
  </div>
</div>
<div class="row pt-2 pb-2 bg2 borderBlack">
  <div class="col-4">
    <img src="../../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
  </div>
  <div class="col-4">
    <p>Título del elemento 2</p>
  </div>
  <div class="col-4">
    <p>Nota</p>
  </div>
</div>
<div class="row pt-2 pb-2 bg2 borderBlack">
  <div class="col-4">
    <img src="../../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
  </div>
  <div class="col-4">
    <p>Título del elemento 3</p>
  </div>
  <div class="col-4">
    <p>Nota</p>
  </div>
</div>
<div class="row pt-2 pb-2 bg2 borderBlack">
  <div class="col-4">
    <img src="../../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
  </div>
  <div class="col-4">
    <p>Título del elemento 4</p>
  </div>
  <div class="col-4">
    <p>Nota</p>
  </div>
</div>
<div class="row pt-2 pb-2 bg2 borderBlack">
  <div class="col-4">
    <img src="../../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
  </div>
  <div class="col-4">
    <p>Título del elemento 5</p>
  </div>
  <div class="col-4">
    <p>Nota</p>
  </div>
</div>
<div class="row pt-2 pb-2 bg2 borderBlack">
  <div class="col-4">
    <img src="../../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
  </div>
  <div class="col-4">
    <p>Título del elemento 6</p>
  </div>
  <div class="col-4">
    <p>Nota</p>
  </div>
</div>
