<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

    <meta charset="UTF-8">
    <title>LittleCritics</title>

    <link href="/src/assets/responsive.css" rel="stylesheet" media="screen and (max-width: 1920px)">

    </head>
  <body>

  <div id="container" >

    <main class="container">

      <article class="container col-12 text-center" >

        <section class="admin admin col-lg-12 col-md-12 col-sm-12" id="admin-form">
          <!--                <section class="admin col-lg-7 col-md-9 col-sm-12" id="admin-form">  -->

          <form id="admin" method="get" action="">

            <div class="container">
              <div class="row">
                <div class="row pt-2">
                  <input
                    type="text" class="col-lg-7 col-md-10 col-sm-10" id="name-form" required="required" placeholder="Nombre"
                  />
                </div>

                <div class="row pt-2">
                  <input
                    type="text" id="description-form"  class="col-lg-7 col-md-10 col-sm-10" required="required" placeholder="Descripción"
                  />
                </div>

                <div class="row pt-2">

                  <select name="category" class="select-category col-lg-7 col-md-10 col-sm-10">
                    <!-- TODO carga dinámica para categoría -->
                    <option disabled  selected>Selecciona una categoría</option>
                    <option value="item 1">Item 1</option>
                    <option value="item 2">Item 2</option>
                    <option value="item 3">Item 3</option>
                  </select>



                </div>

                <div class="row pt-2">

                  <form action="..." method="get">
                    <label for="genres">Añadir género(s) relacionados con el elemento multimedia: </label>
                    <input list="genres">
                    <datalist id="genres">
                      <!-- TODO carga dinámica para género -->
                      <option value="Género 1">
                      <option value="Género 2">
                      <option value="Género 3">
                    </datalist>
                    <input type="button" class="mb-1 mt-3" value="Añadir">
                  </form>


                  <textarea id="w3review" class="col-lg-7 col-md-10 col-sm-10" >

                  </textarea>


                </div>
                <div class="get-file row pt-2">
                  <!-- TODO Comprobar ts es tipo imagen-->
                  <label >Añadir portada para el elemento multimedia: </label>
                  <div class="mb-3 pt-1">
                    <input type="file"  id="get-file-input" name="filename">
                  </div>
                </div>

              </div>
            </div>


            <div class="submit-button">
              <!-- TODO Validación formularios firebase-->
              <input
                class="submit-button-form" id ="submit-admin-form" type="submit" value="CREAR ELEMENTO"
              />
            </div>

          </form>

        </section>

      </article>

    </main>

  </div>

</body>
</html>
