<div id="header">
  <div class="row">
    <div class="col-6">
      <a routerLink=""><img src="../../../assets/img/logo.png" id="logo" alt="logo"></a>
    </div>
    <div class="col-6 text-end mt-2 pe-4">
      <a routerLink="login" class="nav-link"><input type="button" value="Iniciar Sesión"></a>
      <a routerLink="register" class="nav-link"><input type="button" value="Registrarse"></a>
    </div>
  </div>

  <div class="row mt-5">
    <div class="btn-group mt-1" role="group">
      <button class="btn btn-secondary dropdown-toggle col-3" type="button" id="music-dropdown" data-bs-toggle="dropdown">
        Música
      </button>
      <ul class="dropdown-menu " aria-labelledby="music-dropdown">
        <li><a routerLink="music" class="dropdown-item">Todos</a></li>
        <li><a routerLink="music" class="dropdown-item">Rock/Metal</a></li>
        <li><a routerLink="music" class="dropdown-item">Reggaeton</a></li>
        <li><a routerLink="music" class="dropdown-item">Rap</a></li>
        <li><a routerLink="music" class="dropdown-item">Electrónica</a></li>
        <li><a routerLink="music" class="dropdown-item">Pop</a></li>
        <li><a routerLink="music" class="dropdown-item">Jazz</a></li>
        <li><a routerLink="music" class="dropdown-item">Folk</a></li>
        <li><a routerLink="music" class="dropdown-item">Música Clásica</a></li>
      </ul>
      <button class="btn btn-secondary dropdown-toggle col-3" type="button" id="film-dropdown" data-bs-toggle="dropdown">
        Películas
      </button>
      <ul class="dropdown-menu" aria-labelledby="film-dropdown">
        <li><a routerLink="movies" class="dropdown-item">Todos</a></li>
        <li><a routerLink="movies" class="dropdown-item">Acción</a></li>
        <li><a routerLink="movies" class="dropdown-item">Aventura</a></li>
        <li><a routerLink="movies" class="dropdown-item">Ciencia Ficción</a></li>
        <li><a routerLink="movies" class="dropdown-item">Comedia</a></li>
        <li><a routerLink="movies" class="dropdown-item">Drama</a></li>
        <li><a routerLink="movies" class="dropdown-item">Fantasía</a></li>
        <li><a routerLink="movies" class="dropdown-item">Musical</a></li>
        <li><a routerLink="movies" class="dropdown-item">Terror</a>
      </ul>
      <button class="btn btn-secondary dropdown-toggle col-3" type="button" id="series-dropdown" data-bs-toggle="dropdown">
        Series
      </button>
      <ul class="dropdown-menu" aria-labelledby="series-dropdown">
        <li><a routerLink="series" class="dropdown-item">Todos</a></li>
        <li><a routerLink="series" class="dropdown-item">Acción</a></li>
        <li><a routerLink="series" class="dropdown-item">Aventura</a></li>
        <li><a routerLink="series" class="dropdown-item">Ciencia Ficción</a></li>
        <li><a routerLink="series" class="dropdown-item">Comedia</a></li>
        <li><a routerLink="series" class="dropdown-item">Drama</a></li>
        <li><a routerLink="series" class="dropdown-item">Fantasía</a></li>
        <li><a routerLink="series" class="dropdown-item">Musical</a></li>
        <li><a routerLink="series" class="dropdown-item">Terror</a></li>
      </ul>
      <button class="btn btn-secondary dropdown-toggle col-3" type="button" id="podcast-dropdown" data-bs-toggle="dropdown">
        Podcasts
      </button>
      <ul class="dropdown-menu" aria-labelledby="podcast-dropdown">
        <li><a routerLink="podcast" class="dropdown-item">Todos</a></li>
        <li><a routerLink="podcast" class="dropdown-item">Noticias/Política</a></li>
        <li><a routerLink="podcast" class="dropdown-item">Deporte/Ocio</a></li>
        <li><a routerLink="podcast" class="dropdown-item">Educativo</a></li>
        <li><a routerLink="podcast" class="dropdown-item">Salud/Estilo de vida</a></li>
        <li><a routerLink="podcast" class="dropdown-item">Tecnología</a></li>
        <li><a routerLink="podcast" class="dropdown-item">Arte</a></li>
        <li><a routerLink="podcast" class="dropdown-item">Juegos/Entretenimiento</a></li>
        <li><a routerLink="podcast" class="dropdown-item">Niños/Familia</a></li>
      </ul>
    </div>
  </div>
</div>
