<div>
  <div class="row bg1 text-center">
    <p>Lo más criticado</p>
  </div>
  <div class="row bg2 borderBlack">
    <div class="col-5 pt-3">
      <img src="../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
    </div>
    <div class="col-5">
      <p>Título y nota de elemento 1</p>
    </div>
  </div>
  <div class="row bg2 borderBlack">
    <div class="col-5 pt-3">
      <img src="../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
    </div>
    <div class="col-5">
      <p>Título y nota de elemento 2</p>
    </div>
  </div>
  <div class="row bg2 borderBlack">
    <div class="col-5 pt-3">
      <img src="../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
    </div>
    <div class="col-5">
      <p>Título y nota de elemento 3</p>
    </div>
  </div>
  <div class="row bg2 borderBlack">
    <div class="col-5 pt-3">
      <img src="../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
    </div>
    <div class="col-5">
      <p>Título y nota de elemento 4</p>
    </div>
  </div>
  <div class="row bg2 borderBlack">
    <div class="col-5 pt-3">
      <img src="../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
    </div>
    <div class="col-5">
      <p>Título y nota de elemento 5</p>
    </div>
  </div>
  <div class="row bg2 borderBlack">
    <div class="col-5 pt-3">
      <img src="../../../assets/img/rectanguloEjemplo.jpg" height="70px" width="50px">
    </div>
    <div class="col-5">
      <p>Título y nota de elemento 6</p>
    </div>
  </div>
</div>
