<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>LittleCritics</title>
  <link href="/assets/responsive.css" rel="stylesheet" media="screen and (max-width: 1920px)">

</head>

<body>

<div id="container">

  <main class="container-fluid">
    <article>
      <section id="user-register" class="text-center">
        <h1 id="register-title">
          ¡Bienvenido!
          <br>
          ¿Deseas Darte de Alta?
        </h1>
        <form id="register" method="get" action="">

          <div class="container">
            <div class="row">

              <div class="row">
                <div class="form-field col-6 text-end" for="name"> Nombre</div>
                <input
                  class="form-field col-5" type="text" id="name" required value=""
                  placeholder="(Requerido) Introduzca nombre"
                  maxlength="24"
                  [(ngModel)]="name"
                  [ngModelOptions]="{standalone: true}"
                />
              </div>

              <div class="row pt-3">
                <div class="form-field col-6 text-end" for="pswd"> Contraseña</div>
                <input
                  class="form-field col-5" type="password" id="password" required value=""
                  placeholder="(Requerido) Introduzca contraseña"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{4,16}$"
                  [(ngModel)]="password"
                  [ngModelOptions]="{standalone: true}"
                />
              </div>

              <div class="row pt-3">
                <div class="form-field col-6 text-end" for="confirm pswd"> Confirmar contraseña</div>
                <input
                  placeholder="(Requerido) Confirme contraseña"
                  class="form-field col-5" type="password" id="confirm password"
                />
              </div>


              <div class="row pt-3">
                <div class="form-field col-6 text-end" for="email"> Correo</div>
                <input
                  placeholder="(Requerido) Introduzca correo"
                  class="form-field col-5" type="email" id="email" required value=""
                  [(ngModel)]="email"
                  [ngModelOptions]="{standalone: true}"
                />
              </div>

              <div class="row pt-3">
                <div class="form-field col-6 text-end" for="birth"> * Nacimiento</div>
                <input
                  class="form-field col-5" type="date" id="birth"
                  [(ngModel)]="birth"
                  [ngModelOptions]="{standalone: true}"
                />
              </div>

              <div class="row pt-3">
                <div class="form-field col-6 text-end" for="nationality-form"> * Nacionalidad</div>
                <input
                  placeholder="Mi nacionalidad..."
                  class="form-field col-5" type="text" id="nationality"
                  [(ngModel)]="nationality"
                  [ngModelOptions]="{standalone: true}"
                />

              </div>

              <div class="row pt-3">
                <div class="form-field col-6 text-end " for="about me form"> * Sobre mí</div>
                <input
                  placeholder="Sobre mí..."
                  class="form-field col-5" type="text" id="about me form"
                  [(ngModel)]="description"
                  [ngModelOptions]="{standalone: true}"
                />

              </div>

            </div>
          </div>

          <div class="row justify-content-center pt-3">
            <input class="submit-button-form col-4" id ="submit-register-form" type="button" value="DARSE DE ALTA"
                   (click)="register()"
            />
            <!--TODO hacer la validación en firebase-->
          </div>

        </form>
      </section>

      <section id="about-us">
        <h1 id="about-us-title" class="display-3">¿Qué te podemos ofrecer?</h1>
        <ol class="offering-list">
          <li>Puntúa tus elementos multimedias favoritos</li>
          <li>Déjanos tu opinión</li>
          <li>Accede a la información más relevantes de tus pelis favoritas</li>
          <li>Accede a una comunidad que comparte tus gustos</li>
          <li>Crea tu propia lista de elementos multimedia</li>
        </ol>
      </section>

    </article> <!--//header-->
  </main> <!--//header-->

</div> <!--//container-->


</body>


</html>
