#register-content{
  text-align: center;
}

#register-title{
  margin-top: 2em;
  padding: 2em;
  font-size: 2em;
  line-height: normal; /*//Anulo propiedad heredada//*/
}

.vertical-list text{
  padding: 1rem 0.75rem;
  margin-left: 0.5em;
}

.vertical-list{
  list-style-type: none; /*Not number list*/
  display: flow;
  margin: 3em;
}


#register{
  margin: 3em;
}



.field{
  column-count: 2;
  padding: 0.7em;
  padding-bottom: 1em;
}


.cointainer{
  display: inline-flex;
  text-align: center;
  align-items: center;
  font-size: 1.4em;
}

.row {
  display: inline-block;
}


section{
  background: #DD6E56;
  margin-left: 10em;
  margin-right: 10em;

}

#about-us{
  text-align: left;
}

#about-us-title{
  font-size: 2em;
  margin-top: 3em;
  padding: 1.5em 0.8em 0.3em;
}

.offering-list{
  list-style-position: inside;
  list-style-type: disclosure-closed;
  margin: 1.2em;
  padding: 0.7em;
}


.offering-list li{
  padding: 0.4em;
  font-size: 1.5em;
}
