<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

    <meta charset="UTF-8">
    <title>LittleCritics</title>

    <link href="/assets/responsive.css" rel="stylesheet" media="screen and (max-width: 1920px)">

    </head>
  <body>

  <div id="container">

    <main class="container-fluid">

      <article class="row" >

        <section class="admin col-11 col-lg-6" id="admin-form">


          <form id="admin" method="get" action="">

            <div class="container">
              <div class="row">
                <div class="row">
                  <input
                    type="text" class="col-7" id="name-form" required="required" placeholder="Nombre"
                  />
                </div>

                <div class="row pt-2">
                  <input
                    type="text" id="description-form"  class="col-7" required="required" placeholder="Descripción"
                  />
                </div>

                <div class="row pt-2">

                  <select name="category" class="select-category">
                    <!-- TODO eliminar cuando esté la carga dinámica para categoría -->
                    <option disabled  selected>Selecciona una categoría</option>
                    <option value="item 1">Item 1</option>
                    <option value="item 2">Item 2</option>
                    <option value="item 3">Item 3</option>
                  </select>

                  <figure>
                    <!--<img class="category-img" src="images/... .png" height="...px" width="...px" >-->
                  </figure>


                </div>

                <div class="row pt-2">


                  <p>
                  <figure><!--<img class="add-img" src="images/... .png" height="...px" width="...px" >--></figure>
                  <label>Añadir género</label>

                  <iframe >
                    <h1>
                      fa
                    </h1>
                    <h1>
                      fa
                    </h1>
                    <h1>
                      fa
                    </h1>
                  </iframe>

                </div>

                <div class="row pt-2">
                  <!--Comprobar JQuery es tipo imagen-->

                  <input type='file' id="getFile">

                </div>

              </div>
            </div>


            <div class="submit-button">
              <input
                class="submit-button-form" id ="submit-admin-form" type="submit" value="CREAR ELEMENTO"
              />
            </div>

          </form>

        </section>

      </article>

    </main>

  </div>

</body>
</html>
