
body {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.row{
  padding: 1em;
}

article{
  padding: 1em;
}

input, select, textarea{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.get-file label, input, select{
  padding: 0.6em;
}

form, label{
  padding: 1em;
}

