<!DOCTYPE html>
<html>
<head>
  <title>LittleCritics</title>
  <script src="jquery-3.5.0.js"></script>
  <link href="styles.css" rel="stylesheet">
</head>

<body>
  <div id="container">
    
    <div id="header">
      <div id="lineaLogoBotones">
        <img src="images/10542658cop.png" id="logo">
        <div id="botones">
          <input type="button" value="Iniciar Sesion">
          <input type="button" value="Registrarse">
        </div>
      </div>

      <div id="barraBusqueda">
        <img src="images/searchIcon.png" id="busqueda">
        <input type="search" id="search" placeholder="Search..."/>
      </div>

      <div id="categorias">
        <input type="button" value="Musica" id="musica" class="botonHeader">
        <input type="button" value="Series" id="series" class="botonHeader">
        <input type="button" value="Peliculas" id="peliculas" class="botonHeader">
        <input type="button" value="Podcasts" id="podcasts" class="botonHeader">
      </div> 
    </div>

    <div id="container-3">
      <div class="cajaLateral2">
        <div class="filtro" style="background-color:#DD6E56;">
          <p>Tipo de contenido</p>
        </div>
        <div class="filtro">
          <p>Género 1</p>
        </div>
        <div class="filtro">
          <p>Género 2</p>
        </div>
        <div class="filtro">
          <p>Género 3</p>
        </div>
        <div class="filtro">
          <p>Género 4</p>
        </div>
        <div class="filtro">
          <p>Género 5</p>
        </div>
        <div class="filtro">
          <p>Género ...</p>
        </div>
        <p></p>
        <div class="filtro">
          <p>Mejor Votados</p>
        </div>
        <div class="filtro">
          <p>Estrenos</p>
        </div>
        <div class="filtro">
          <p>Por Salir</p>
        </div>
        <div class="filtro">
          <p>Más Anticipados</p>
        </div>
      </div>

      <div id="contenido">
        <h2 class="title2">Tipo de contenido</h2>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 1</p>
        </div>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 2</p>
        </div>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 3</p>
        </div>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 4</p>
        </div>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 5</p>
        </div>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 6</p>
        </div>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 7</p>
        </div>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 8</p>
        </div>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 9</p>
        </div>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 10</p>
        </div>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 11</p>
        </div>
        <div class="elemento2">
          <p><img src="images/rectanguloEjemplo.jpg" height="170px" width="140px"></p>
          <p class="elementoText">Título de elemento 12</p>
        </div>
      </div>
    </div>
  </div>


</body>
</html>