<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>LittleCritics</title>
  <script src="jquery-3.6.0.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <link href="styles.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="responsive.css" rel="stylesheet" media="screen and (max-width: 2048px)">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
  <div id="container">
    <div id="header">
    </div>

    <div class="container-fluid ps-5 pe-5">
      <div class="row pt-5">
        <div class="col-2">
          <img src="images/rectanguloEjemplo.jpg" class="img-fluid">
        </div>
        <div class="col-10 bg1">
          <p class="mt-2">Título/Nombre: ...</p>
          <p>Año: ...</p>
          <p>Género: ...</p>
          <p>Duración: ...</p>
          <p>Valoración de la comunidad: ...</p>
          <p class="d-none d-lg-block">Contenido/Descripción/Argumento/Sinopsis del elemento:</p>
          <p>...</p>
        </div>
      </div>

      <div class="row mt-3 d-lg-none bg1">
        <p>Contenido/Descripción/Argumento/Sinopsis del elemento:</p>
      </div>

      <div class="row mt-3">
        <h2 class="bg1 text-center">Reviews</h2>
      </div>

      <div class="row mt-2 bg1">
        <div class="col-12 col-lg-2 pt-2">
          <p>Dinos tu opinión sobre títuto del elemento:</p>
        </div>
        <div class="col-10 col-lg-8 pt-2">
          <textarea class="col-12">Escribe aquí tu opinión...</textarea>
        </div>
        <div class="col-2 col-lg-2 pt-4">
          <input type="button" value="Enviar">
        </div>
      </div>
      <div class="row mt-3 bg1">
        <div class="col-1 pt-2 pb-2 text-center">
          <img src="images/user.png" class="img-fluid">
          <p>Nombre del perfil</p>
          <p>Fecha de la review </p>
          <input type="button" value="Ver perfil">
        </div>
        <div class="col-11 pt-2">
          <p>Usuario ha comentado:</p>
          <p>_________________________________________</p>
          <p>Comentario...</p>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function(){
      $('#header').load("./header.html");
    });
  </script>
</body>
</html>