<!DOCTYPE html>
<html>
<head>
  <title>LittleCritics</title>
  <script src="jquery-3.5.0.js"></script>
  <link href="styles.css" rel="stylesheet">
</head>

<body>
  <div id="container">
    <div id="header">
      <div id="lineaLogoBotones">
        <img src="images/10542658cop.png" id="logo">
        <div id="botones">
          <input type="button" value="Iniciar Sesion">
          <input type="button" value="Registrarse">
        </div>
      </div>

      <div id="barraBusqueda">
        <img src="images/searchIcon.png" id="busqueda">
        <input type="search" id="search" placeholder="Search..."/>
      </div>

      <div id="categorias">
        <input type="button" value="Musica" id="musica" class="botonHeader">
        <input type="button" value="Series" id="series" class="botonHeader">
        <input type="button" value="Peliculas" id="peliculas" class="botonHeader">
        <input type="button" value="Podcasts" id="podcasts" class="botonHeader">
      </div> 
    </div>

    <div id="container-4">
      <div id="container-5">
        <div style="display: inline-block;">
          <img src="images/rectanguloEjemplo.jpg" width="300px" height="400px">
        </div>
        <div id="info">
          <p>Título/Nombre: ...</p>
          <p>Año: ...</p>
          <p>Género: ...</p>
          <p>Duración: ...</p>
          <p>Valoración de la comunidad: ...</p>
          <p>Contenido/Descripción/Argumento/Sinopsis del elemento:</p>
          <p>...</p>
        </div>
      </div>

      <h2 class="title2">Reviews</h2>
      <div id="container-6">
        <div style="display: inline-block; width: 140px;" class="title2">
          <p>Dinos tu opinión sobre</p>
          <p>título del elemento:</p>
        </div>
        <div style="display: inline-block;">
          <textarea style="height: 70px; width: 1100px; margin-left: 20px; vertical-align:-18px;">Escribe aquí tu opinión...</textarea>
          <input type="button" value="Enviar" style="vertical-align: top;">
        </div>
        <div>
          <div style="display:inline-block; margin-top: 40px; width: 140px" class="title2">
            <img src="images/user.png" height="80px" width="80px">
            <p>Nombre del perfil</p>
            <p>Fecha de la review </p>
            <input type="button" value="Ver perfil">
          </div>
          <div class="review">
            <p>Review de un usuario...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>