<div id="header">
    <div id="lineaLogoBotones">
        <img src="images/10542658cop.png" id="logo">
        <div id="botones">
            <input type="button" value="Iniciar Sesion">
            <input type="button" value="Registrarse">
        </div>
    </div>

    <div id="barraBusqueda">
        <img src="images/searchIcon.png" id="busqueda">
        <input type="search" id="search" placeholder="Search..."/>
    </div>

    <div id="categorias">
        <input type="button" value="Musica" id="musica" class="botonHeader">
        <input type="button" value="Series" id="series" class="botonHeader">
        <input type="button" value="Peliculas" id="peliculas" class="botonHeader">
        <input type="button" value="Podcasts" id="podcasts" class="botonHeader">
    </div>
</div>