<!DOCTYPE html>
<html>
<head>
  <title>LittleCritics</title>
  <script src="jquery-3.5.0.js"></script>
  <link href="styles.css" rel="stylesheet">
</head>

<body>
  <div id="container">

    <div id="header">
      <div id="lineaLogoBotones">
        <img src="images/10542658cop.png" id="logo">
        <div id="botones">
          <input type="button" value="Iniciar Sesion">
          <input type="button" value="Registrarse">
        </div>
      </div>

      <div id="barraBusqueda">
        <img src="images/searchIcon.png" id="busqueda">
        <input type="search" id="search" placeholder="Search..."/>
      </div>

      <div id="categorias">
        <input type="button" value="Musica" id="musica" class="botonHeader">
        <input type="button" value="Series" id="series" class="botonHeader">
        <input type="button" value="Peliculas" id="peliculas" class="botonHeader">
        <input type="button" value="Podcasts" id="podcasts" class="botonHeader">
      </div>
    </div>
 

    <div id="container-1">
      <div id="carrusel">
        <img src="images/izquierda.png" id="flechIzq" height="50px" width="50px">
        <img src="images/derecha.png" id="flechDer" height="50px" width="50px">
      </div>
      <div class="cajaLateral">
        <div class="title">
            <p style="text-align: center;">Lo más criticado</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y nota de elemento 1</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y nota de elemento 2</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y nota de elemento 3</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y nota de elemento 4</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y nota de elemento 5</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y nota de elemento 6</p>
        </div>
      </div>
    </div>

    <div id="container-2">
      <div id="estDest">
        <div class="title">
          <p style="text-align: center;">Estrenos</p>
        </div>
        <div class="cajaCentral">
          <div class="elemento">
            <p>Título de elemento 1</p>
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
          <div class="elemento">
            <p>Título de elemento 2</p>
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
          <div class="elemento">
            <p>Título de elemento 3</p>
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
          <div class="elemento">
            <p>Título de elemento 4</p>
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
          <div class="elemento">
            <p>Título de elemento 5</p>
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
          <div class="elemento">
            <p>Título de elemento 6</p>
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
        </div>



        <div class="title">
            <p style="text-align: center;">Destacados</p>
        </div>
        <div class="cajaCentral">
          <div class="elemento">
            <p>Título de elemento 1</p>
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
          <div class="elemento">
            <p>Título de elemento 2</p>
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
          <div class="elemento">
            <p>Título de elemento 3</p> 
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
          <div class="elemento">
            <p>Título de elemento 4</p>
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
          <div class="elemento">
            <p>Título de elemento 5</p>
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
          <div class="elemento">
            <p>Título de elemento 6</p>
            <p><img src="images/rectanguloEjemplo.jpg" height="80px" width="50px"></p>
          </div>
        </div>
      </div>

      <div class="cajaLateral">
        <div class="title">
            <p style="text-align: center;">Estrenos retrasados</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y fecha de elemento 1</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y fecha de elemento 2</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y fecha de elemento 3</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y fecha de elemento 4</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y fecha de elemento 5</p>
        </div>
        <div class="elementoCajaLateral">
          <img src="images/rectanguloEjemplo.jpg" height="70px" width="50px" class="inLine">
          <p class="inLine">Título y fecha de elemento 6</p>
        </div>
      </div>

    </div>
  </div>

</body>
</html>