<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LittleCritics</title>
    <script src="jquery-3.6.0.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <link href="styles.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="responsive.css" rel="stylesheet" media="screen and (max-width: 1920px)">
</head>
<body>

<div id="container">

    <div id="header">
    </div> <!--//header-->

    <main id="iniciar-sesion-content">

                <article id="sesion">

                    <section class="user-login" id="user-login-form">

                        <img class="user-img" src="images/user.png" height="200px" width="200px" >

                        <form id="login" action=".................">

                            <div class="cointainer">
                                <div class="row">

                                    <div class="field">
                                        <div class="form-field" for="name-form"> Nombre</div>
                                        <input type="text" id="name-form"/>
                                    </div>

                                    <div class="field">
                                        <div class="form-field" for="pswd-form"> Contraseña</div>
                                        <input type="text" id="pswd-form"/>
                                    </div>

                                </div>
                            </div>


                            <div class="submit-button">
                                <input class="submit-button-form" id ="submit-login-form" type="submit" value="INICIAR SESIÓN"/>
                            </div>

                            <a class="pswd-forgotten" href="..........">
                                ¿Has olvidado tu contraseña?
                            </a>


                        </form>

                    </section>

                    <section class="user-login" id="our-advantage">
                        <h1>Nuestras ventajas: </h1>
                        <ol id="#our-advantage-list">
                            <li>Actualizamos nuestro contenido</li>
                            <li>Recomendaciones personalizadas</li>
                            <li>Accede a la opinión de nuestros visistantes</li>
                            <li>Crea y personaliza tu propia lista de elementos multimedias favoritos</li>
                        </ol>

                        <a class="submit-button" id="goto-register" href="./registro.html">
                            <button class="submit-button">IR A REGISTRARSE</button>
                        </a>

                    </section>




                </article>

    </main>


</div>




<script>
    $(function(){
        $('#header').load("./header.html");
    });
    $(function(){
        $('#about-us').load("./aboutus.html");
    });
    $(function(){
        $('#required-credentials').load("./credenciales.html");
    });
</script>

</body>
</html>