<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>LittleCritics</title>
  <script src="jquery-3.6.0.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <link href="styles.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="responsive.css" rel="stylesheet" media="screen and (max-width: 1920px)">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
  <div id="container">

    <div id="header">
    </div>

    <div class="container-fluid mt-5 text-center ps-5 pe-5">
      <div class="row">
        <div class="col-lg-2 d-none d-sm-none d-lg-block pe-5">
          <div class="row bg1 borderBlack">
            <p>Filtrado</p>
          </div>
          <div id="genrefilter"></div>
          <p></p>
          <div class="row bg2 borderBlack">
            <p><a href="#" class="text-decoration-none text-black">Mejor Votados</a></p>
          </div>
          <div class="row bg2 borderBlack">
            <p><a href="#" class="text-decoration-none text-black">Estrenos</a></p>
          </div>
          <div class="row bg2 borderBlack">
            <p><a href="#" class="text-decoration-none text-black">Por Salir</a></p>
          </div>
          <div class="row bg2 borderBlack">
            <p><a href="#" class="text-decoration-none text-black">Más Anticipados</a></p>
          </div>
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasFilterLabel">Filtro</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <a href="#" class="bg2 borderBlack">Género 1</a>
            <a href="#" class="bg2 borderBlack">Género 2</a>
            <a href="#" class="bg2 borderBlack">Género 3</a>
            <a href="#" class="bg2 borderBlack">Género 4</a>
            <a href="#" class="bg2 borderBlack">Género 5</a>
            <a href="#" class="bg2 borderBlack">Género ...</a>
            <p></p>
            <a href="#" class="bg2 borderBlack">Mejor Votados</a>
            <a href="#" class="bg2 borderBlack">Estrenos</a>
            <a href="#" class="bg2 borderBlack">Por Salir</a>
            <a href="#" class="bg2 borderBlack">Más Anticipados</a>
          </div>
        </div>

        <div class="col-12 col-lg-10 col-sm-12 bg2">
          <div class="row bg1">
            <div class="col-1 align-self-center d-sm-block d-lg-none pt-2">
              <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter"
                      aria-controls="offcanvasFilter">
                <img src="images/filtroIcon.png" height="20px" width="20px">
              </button>
            </div>
            <div class="col-11 col-lg-12">
              <h2>Peliculas</h2>
            </div>
            <div class="row" id="films"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200){
        var json = JSON.parse(this.responseText);
        json.forEach(movie => {
          const template = (image, title) => `<img src="${image}" class="img-fluid" id="img-cat"><p class="bg1">${title}</p>`;
          var child = document.createElement('div');
          child.className = "col-6 col-md-4 col-lg-3 ps-5";
          child.innerHTML = template(movie.Poster, movie.Title);
          document.getElementById("films").appendChild(child);
        })
      }
    };

    xmlhttp.open("GET", "data/movies/movies.json", true);
    xmlhttp.send();
  </script>
  <script>
    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200){
        var json = JSON.parse(this.responseText);
        json.Genres.forEach(genre => {
          const template = (genero) => `<p><a href="#" class="text-decoration-none text-black">${genero}</a></p>`;
          var child = document.createElement('div');
          child.className = "row bg2 borderBlack";
          child.innerHTML = template(genre);
          child.onclick = function(){
            document.getElementById("films").innerHTML = "";

            var xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200){
                var json = JSON.parse(this.responseText);
                json.forEach(movie => {
                  if(movie.Genre.includes(genre)) {
                  const template = (image, title) => `<img src="${image}" class="img-fluid" id="img-cat"><p class="bg1">${title}</p>`;
                  var child = document.createElement('div');
                  child.className = "col-6 col-md-4 col-lg-3 ps-5";
                  child.innerHTML = template(movie.Poster, movie.Title);
                  document.getElementById("films").appendChild(child);}
                })
              }
            };

            xmlhttp.open("GET", "data/movies/movies.json", true);
            xmlhttp.send();
          };
          document.getElementById("genrefilter").appendChild(child);
        })
      }
    };

    xmlhttp.open("GET", "data/movies/genres.json", true);
    xmlhttp.send();
  </script>

  <script>
    $(function(){
      $('#header').load("./header.html");
    });
  </script>

</body>
</html>