<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LittleCritics</title>
    <script src="jquery-3.6.0.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <link href="styles.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="responsive.css" rel="stylesheet" media="screen and (max-width: 1920px)">


    <script>

        var form;

        function initiate(){

            form = document.querySelector("form[id='register']");
            var pwd = document.getElementById('password');
            var conPwd = document.getElementById('confirm password');
            var button = document.getElementById("submit-register-form");
            var inPwd = document.querySelectorAll('input[type=password]');

            var checkPasswordValidity = function(){

                if (pwd.value !== conPwd.value) {
                    document.getElementById("password-must-match").innerText = 'Las contraseñas deben coincidir!';
                } else {
                    document.getElementById("password-must-match").innerText = '';
                }

            };



            for (var i = 0; i < inPwd.length; i++) {
                inPwd[i].addEventListener("keyup", checkPasswordValidity);
            }

            form.addEventListener('input' , checker, true);

            button.addEventListener("click", function () {
                var elemName = document.getElementById("name");
                var elemPswd = document.getElementById("password");
                var validation = form.checkValidity();

                if(validation){
                    form.submit();
                }else if(elemName.validity.valueMissing || elemPswd.validity.valueMissing){
                    alert('Por favor, asegúrese de haber introducido sus credenciales correctamente');
                }
            });


            $("input[class='form-field']").change(function (){
                var pwd = document.getElementById('password');
                if (pwd.validity.patternMismatch){
                    document.getElementById("password-description").innerText =  '\nLa contraseña debe contener: \n\n' +
                        '* Al menos una maýuscula\n' +
                        '* Al menos una minúscula\n' +
                        '* Al menos un número\n' +
                        '* Debe tener un tamaño entre 4 y 16 caracteres';
                }else{
                    document.getElementById("password-description").innerText =  '';
                }


            });


        }

        function checker() {
            var inputs = document.querySelectorAll('input[class=form-field]');
            var str = "";
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].checkValidity() === false) {
                    str += inputs[i].getAttribute("id") + ", ";
                }
            }
            str = str.substring(0, str.length - 2);
            document.getElementById("warning-msg").innerText = "Por favor, revise que el campo: {" + str + "} ha sido rellenado correctamente";
            if (form.checkValidity() === true) {
                document.getElementById("warning-msg").innerText = "";
            }

        }
        addEventListener("load", initiate);

        $(function(){
            $('#header').load("./header.html");
        });
        $(function(){
            $('#about-us').load("./aboutus.html");
        });
    </script>

</head>

<body>

<div id="container">
    <div id="header">
    </div> <!--//header-->

    <main id="register-content">
        <article>
            <section id="user-register">
                <h1 id="register-title">
                    ¡Bienvenido
                    <br>
                    ¿Deseas Darte de Alta?
                </h1>
                <form id="register" method="get" action="">

                    <div class="cointainer">
                        <div class="row">

                            <div class="field">
                                <div class="form-field" for="name"> Nombre</div>
                                <input
                                        class="form-field" type="text" id="name" required value=""
                                        maxlength="24"
                                />
                            </div>

                            <div class="field">
                                <div class="form-field" for="pswd"> Contraseña</div>
                                <input
                                        class="form-field" type="password" id="password" required value=""
                                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{4,16}$"
                                />
                            </div>

                            <div class="field">
                                <div class="form-field" for="confirm pswd"> Confirmar ontraseña</div>
                                <input
                                        class="form-field" type="password" id="confirm password"
                                />
                            </div>


                            <label id="password-must-match"></label>

                            <div class="field">
                                <div class="form-field" for="email"> Correo</div>
                                <input class="form-field" type="email" id="email" required value=""/>
                            </div>

                            <div class="field">
                                <div class="form-field" for="birth"> * Nacimiento</div>
                                <input class="form-field" type="date" id="birth"/>
                            </div>

                            <div class="field">
                                <div class="form-field" for="nationality-form"> * Nacionalidad</div>
                                <input class="form-field" type="text" id="nationality"/>
                            </div>

                            <div class="field">
                                <div class="form-field" for="about me form"> * Sobre mí</div>
                                <input class="form-field" type="text" id="about me form"/>
                            </div>

                            <label id="warning-msg"></label>
                            <label id="password-description"></label>

                        </div>
                    </div>

                    <div class="submit-button" >
                        <input class="submit-button-form" id ="submit-register-form" type="button" value="DARSE DE ALTA"/>
                    </div>

                </form>
            </section>

            <section id="about-us">
            </section>

        </article> <!--//header-->
    </main> <!--//header-->

</div> <!--//container-->


</body>


</html>