/* responsive.css  */

/* 1 em = 16 px */

/* 1920(full hd) to 2048(2k) pixels */
@media screen and (min-width: 2048px) {
    #container {
        width: 2048px;
    }
    #header {
        width: 2048px;
        background-size: 2048px;
    }
}

@media (min-width:992px) and (max-width: 1920px) {
    #container {
        width: 100%;
        font-size: 20px;
    }
    #header {
        width: 100%;
    }
}

@media (min-width:0px) and (max-width: 992px) {
    #container {
        width: 100%;
    }
    #header {
        width: 100%;
    }
    #img-cat {
        width: 175px;
    }
}
