<!DOCTYPE html>
<html>
<head>
  <title>LittleCritics</title>
  <script src="jquery-3.5.0.js"></script>
  <link href="styles.css" rel="stylesheet">
</head>

<body>
  <div id="container">
    <div id="header">
      <div id="lineaLogoBotones">
        <img src="images/10542658cop.png" id="logo">
        <div id="botones">
          <input type="button" value="Iniciar Sesion">
          <input type="button" value="Registrarse">
        </div>
      </div>

      <div id="barraBusqueda">
        <img src="images/searchIcon.png" id="busqueda">
        <input type="search" id="search" placeholder="Search..."/>
      </div>

      <div id="categorias">
        <input type="button" value="Musica" id="musica" class="botonHeader">
        <input type="button" value="Series" id="series" class="botonHeader">
        <input type="button" value="Peliculas" id="peliculas" class="botonHeader">
        <input type="button" value="Podcasts" id="podcasts" class="botonHeader">
      </div> 
    </div>


    <div id="container-4">
      <div id="container-5">
        <div class="inLine">
          <img src="images/user.png" height="300px" width="300px">
        </div>
        <div id="info">
          <p class="text">Nombre: nombre del usuario</p>
          <p class="text">Correo: correo del usuario</p>
          <p class="text">Fecha de nacimiento: fecha de nacimiento del usuario</p>
          <p class="text">Nacionalidad: nacionalidad del usuario</p>
          <p class="text">Sobre mí: pequeña descripción del usuario sobre sus gustos</p>
        </div>
      </div>
      <h2 class="title2">Actividad reciente en las últimas 72 horas</h2>
      <div>
        <div style="background-color: #DD6E56;">
          <p>Usuario ha realizado una acción en un elemento</p>
          <img src="images/rectanguloEjemplo.jpg" height="100px" width="100px" style="display: inline-block;">
          <div style="display: inline-block; vertical-align: top;">
            <p>Título del elemento</p>
            <p>Descripción del elemento</p>
          </div>
          <div style="display: inline-block; vertical-align: top; margin-left: 800px;">
            <p>Fecha de cuando se realizo la acción</p>
          </div>
        </div>
        <div style="background-color: #DD6E56;">
          <p>Usuario ha realizado una acción en un elemento</p>
          <img src="images/rectanguloEjemplo.jpg" height="100px" width="100px" style="display: inline-block;">
            <div style="display: inline-block; vertical-align: top;">
              <p>Título del elemento</p>
              <p>Descripción del elemento</p>
            </div>
            <div style="display: inline-block; vertical-align: top; margin-left: 800px;">
              <p>Fecha de cuando se realizo la acción</p>
            </div>
        </div>
        <div style="background-color: #DD6E56;">
          <p>Usuario ha realizado una acción en un elemento</p>
          <img src="images/rectanguloEjemplo.jpg" height="100px" width="100px" style="display: inline-block;">
            <div style="display: inline-block; vertical-align: top;">
              <p>Título del elemento</p>
              <p>Descripción del elemento</p>
            </div>
            <div style="display: inline-block; vertical-align: top; margin-left: 800px;">
              <p>Fecha de cuando se realizo la acción</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>