<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>LittleCritics</title>
  <script src="jquery-3.6.0.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <link href="styles.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="responsive.css" rel="stylesheet" media="screen and (max-width: 2048px)">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
  <div id="container">
    <div id="header">
    </div>

    <div class="container-fluid ps-5 pe-5">
      <div class="row pt-5">
        <div class="col-3 col-xxl-2">
          <img src="images/rectanguloEjemplo.jpg" id="usuarioImg" class="img-fluid rounded-circle">
        </div>
        <div class="col-9 col-xxl-10 bg1">
          <div class="row pt-2">
            <div class="col-10 col-md-11">
              <p><u>Nombre: nombre del usuario</u></p>
              <p><u>Correo: correo del usuario</u></p>
              <p><u>Fecha de nacimiento: fecha de nacimiento del usuario</u></p>
              <p><u>Nacionalidad: nacionalidad del usuario</u></p>
              <p><u>Sobre mí: pequeña descripción del usuario sobre sus gustos</u></p>
            </div>
            <div class="col-2 col-md-1">
              <img src="images/configIcon.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 bg1 text-center">
        <h2>Actividad reciente en las últimas 72 horas</h2>
      </div>

      <div class="row mt-3 bg1">
        <div class="row pt-2">
          <p>Usuario ha realizado una acción en un elemento</p>
        </div>
        <div class="row">
          <div class="col-2 pb-2">
            <img src="images/rectanguloEjemplo.jpg" class="img-fluid imgLimits">
          </div>
          <div class="col-8">
            <p>Título del elemento</p>
            <p>Descripción del elemento</p>
          </div>
          <div class="col-2">
            <p>Fecha de cuando se realizo la acción</p>
          </div>
        </div>
      </div>

      <div class="row mt-3 bg1">
        <div class="row pt-2">
          <p>Usuario ha realizado una acción en un elemento</p>
        </div>
        <div class="row">
          <div class="col-2 pb-2">
            <img src="images/rectanguloEjemplo.jpg" class="img-fluid imgLimits">
          </div>
          <div class="col-8">
            <p>Título del elemento</p>
            <p>Descripción del elemento</p>
          </div>
          <div class="col-2">
            <p>Fecha de cuando se realizo la acción</p>
          </div>
        </div>
      </div>

      <div class="row mt-3 bg1">
        <div class="row pt-2">
          <p>Usuario ha realizado una acción en un elemento</p>
        </div>
        <div class="row">
          <div class="col-2 pb-2">
            <img src="images/rectanguloEjemplo.jpg" class="img-fluid imgLimits">
          </div>
          <div class="col-8">
            <p>Título del elemento</p>
            <p>Descripción del elemento</p>
          </div>
          <div class="col-2">
            <p>Fecha de cuando se realizo la acción</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script>
    $(function(){
      $('#header').load("./header.html");
    });
  </script>
</body>
</html>