
<div id="container">

  <main class="container-fluid">
    <article>
      <section id="user-register" class="text-center">
        <h1 class="register-title" *ngIf="!dataSubmitted">
          ¡Bienvenido!<br>¿Deseas Darte de Alta?
        </h1>

        <h1 class="register-title" *ngIf="dataSubmitted">
          ¡ Felicidades ! ¡ Usuario registrado correctamente !
        </h1>

        <form *ngIf="!dataSubmitted" id="register" [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="container">
            <div class="row">

              <div class="row pt-3">
                <div class="form-group">
                  <label class="form-field col-4 text-end" for="name"> Nombre</label>
                  <input
                    class="form-field col-5" type="text" id="name"
                    placeholder="(Requerido) Introduzca nombre"
                    formControlName="name"
                  />

                  <label  *ngIf="formField['name'].hasError('minlength') || formField['name'].hasError('maxlength')"  class="doesnt-match form-field col-6 text-danger text-end">
                    Para su nombre tiene de mínimo 4 y máximo 16 caracteres
                  </label>

                </div>
              </div>

              <div class="row pt-3">

                <div class="form-group">
                  <label class="form-field col-4 text-end" for="password"> Contraseña</label>
                  <input
                    class="form-field col-5" type="password" id="password"
                    placeholder="(Requerido) Introduzca contraseña"
                    formControlName="pswd"
                  />
                </div>


              </div>

              <div class="row pt-3">
                <div class="form-group">
                  <label class="form-field col-4 text-end" for="confirm pswd"> Confirmar contraseña</label>
                  <input
                    placeholder="(Requerido) Confirme contraseña"
                    class="form-field col-5" type="password" id="confirm pswd"
                    formControlName="confirm_pswd"
                  />
                  <label  *ngIf="this.form.hasError('notSame')"  class="doesnt-match form-field col-6 text-danger text-end">
                    Nota: Las contraseñas no coinciden
                  </label>
                </div>
              </div>


              <div class="row pt-3">
                <div class="form-group">
                  <label class="form-field col-4 text-end" for="email"> Correo</label>
                  <input
                    placeholder="(Requerido) Introduzca correo"
                    class="form-field col-5" type="email" id="email"
                    formControlName="email"
                  />
                  <label  *ngIf="formField['email'].invalid"  class="doesnt-match form-field col-6 text-danger text-end">
                    El email no sigue un patrón correcto
                  </label>
                </div>



              </div>

              <div class="row pt-3">
                <div class="form-group">
                  <label class="form-field col-4 text-end" for="birth"> * Nacimiento</label>
                  <input
                    class="form-field col-5" type="date" id="birth"
                    formControlName="birth"
                  />
                </div>
              </div>

              <div class="row pt-3">
                <div class="form-group">
                  <label class="form-field col-4 text-end" for="nationality"> * Nacionalidad</label>
                  <input
                    placeholder="Mi nacionalidad..."
                    class="form-field col-5" type="text" id="nationality"
                    formControlName="nationality"
                  />
                </div>
              </div>

              <div class="row pt-3">
                <div class="form-group">
                  <label class="form-field col-4 text-end " for="about me form"> * Sobre mí</label>
                  <input
                    placeholder="Sobre mí..."
                    class="form-field col-5" type="text" id="about me form"
                    formControlName="description"
                  />
                </div>
              </div>

              <div class="row pt-3">
                <div class="form-group">
                <label class="form-field col-12 text-center" for="about me form">Añadir imagen de perfil: </label>
                <div class="text-end col-12">
                  <input class="text-center col-6" type="file"  id="get-file-input"
                         (change)="fileNameSelected($event)"
                         name="filename" formControlName="fileImg">
-
                </div>
                </div>
              </div>


            </div>
          </div>

          <div class="row justify-content-center pt-3">
            <div class="form-group">
              <input *ngIf="!dataSubmitted" class="submit-button-form col-4" id ="submit-register-form"
                     type="button" value="DARSE DE ALTA"
                     (click)="onSubmit()"
              />
            </div>

          </div>


        </form>

        <button *ngIf="dataSubmitted" (click)="prepareForNewUser()" class="submit-button-form col-4">
          ¿ Volver a registrar un nuevo usuario ?
        </button>

      </section>

      <section id="about-us">
        <h1 id="about-us-title" class="display-3">¿Qué te podemos ofrecer?</h1>
        <ol class="offering-list">
          <li>Puntúa tus elementos multimedias favoritos</li>
          <li>Déjanos tu opinión</li>
          <li>Accede a la información más relevantes de tus pelis favoritas</li>
          <li>Accede a una comunidad que comparte tus gustos</li>
          <li>Crea tu propia lista de elementos multimedia</li>
        </ol>
      </section>

    </article> <!--//header-->
  </main> <!--//header-->

</div> <!--//container-->


