

h1{
  margin-top: 1em;
}

.container{
  display: inline-flex;
  text-align: center;
  align-items: center;
  font-size: 1.4em;
}


#register-title{
  padding-top: 2em;
  padding-bottom: 0.7em;
}



.submit-button{
  padding: 1em;
  align-content: center;
  text-align: center;
  border-radius: 0.5em;
  cursor: pointer;

}

.submit-button-form{

  font-size: 1.2em;
  margin: 1.5em;

  cursor: pointer;
  height: 3em;
  width: 10em;
  border-radius: 0.5em;
}

#submit-register-form{
  font-size: 1.8em;
  text-align: center;
}


.row input {
  height: 1.8em;
  line-height: normal;
}

#about-us{
  text-align: center;
  font-size: 1.8em;
  line-height: normal;
  padding: 0.2em;
}

#about-us-title{
  padding: 0.5em;
}

#about-us li{
  padding: 0.2em;
}


div, label{
  padding: 0.5em;
}
