


<div id="container">
  <main class="container-fluid col-lg-12 col-md-9 col-sm-6 pt-12">
    <article class="row" >
      <div class="col-lg-6 col-md-12 col-sm-12">
        <mat-card class="user-login" id="user-login-form">
          <img class="user-img float-center" src="../../../assets/img/user.png" height="200px" width="200px" alt=" ">

          <form  [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit()" *ngIf="!dataSubmitted" id="login" method="get" action="">

            <div class="container-fluid  pt-4">
              <div class="row">
                <div class="form-field col-6">
                  Nombre
                </div>
                <div class="col-6">

                  <input
                    type="text" id="name-form" class="col-12" placeholder="Introduzca nombre"
                    *ngIf="!dataSubmitted"
                    [(ngModel)]="user.name"
                    [formControl]="usernameControl"
                  />


                </div>
              </div>
            </div>

            <div class="container-fluid pt-4">
              <div class="row">
                <div class="form-field col-6">
                  Contraseña
                </div>
                <div class="col-6">

                  <input
                    type="password" id="pswd-form"  class="col-12" required="required"
                    placeholder="Introduzca contraseña"
                    [(ngModel)]="user.password"
                    [ngModelOptions]="{standalone: true}"
                  />

                </div>
              </div>
            </div>

            <div class="submit-button">
              <input
                class="submit-button-form" id ="submit-login-form" type="submit" value="INICIAR SESIÓN"
              />
              <!-- TODO implementar el login (ts, firebase...) -->
            </div>

            <a class="pswd-forgotten" href="">
              ¿Has olvidado tu contraseña?
            </a>

          </form>

        </mat-card>

      </div>


      <div class="col-lg-6 col-md-12" >

        <div class="container-fluid">

          <div class="col-12 col-lg-9 mt-5 mb-4 bg1 text-center ms-4"  id="our-advantage">
            <h1>Nuestras ventajas: </h1>
            <ol id="#our-advantage-list">
              <li>Actualizamos nuestro contenido</li>
              <li>Recomendaciones personalizadas</li>
              <li>Accede a la opinión de nuestros visistantes</li>
              <li>Crea y personaliza tu propia lista de elementos multimedias favoritos</li>
            </ol>
            <a class="submit-button" id="goto-register" routerLink="/register">
              <button class="submit-button btn-sm">IR A REGISTRARSE</button>
            </a>
          </div>

        </div>
      </div>

    </article>

  </main>


</div>
